#mainPageBody {
	color: white;
	font-family: cooper white, Monospace;
	background-color: black;
}

#tcgBody {
	color: rgb(48, 152, 238);
	font-family: cooper black, Monospace;
	background-color: black
}

#font-awesome {
	size: 20xp;
}

#trello {
	padding-left: 40%;
}

#Projects {
	padding-left: 30%;
}

#projectImage {
	height: 200px;
	width: 300px;
	padding-bottom: 3em;
}

#Skills {
	border-width: 10px;
	border-color: rgb(31, 133, 228);
}

#Home {
	color: white;
	background-image: url('https://source.unsplash.com/collection/944977/1600x900');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 200%;
	padding-left: 35%;
	padding-top: 20%;
}

h1 {
	font-family: cooper black, Monospace;
	color: Black;
}

#menuList {
	margin-left: 300px;
}

#name {
	color: rgb(245, 245, 245);
	font-family: 'Aclonica';
	font-size: 350%;
}

#imageAndName {
	color: rgb(245, 245, 245);
	font-family: 'Aclonica';
	font-size: 350%;
}

#ownImage {
	height: 200px;
	padding-left: 10%;
}

#button {
	background-color: rgba(20, 23, 26, 0.973);
	color: white;
	border-radius: 5px;
}

nav {
	background-color: rgba(219, 196, 196, 0)
}

ul {
	font-size: 20px;
}