#mainPageBody {
	font-family: cooper black, Monospace;
}

#tcgBody {
	color: rgb(48, 152, 238);
	font-family: cooper black, Monospace;
	background-color: black
}

#font-awesome {
	size: 20xp;
}

#trello {
	padding-left: 40%;
}

#Projects {
	padding-left: 30%;
}

#projectImage {
	height: 200px;
	width: 300px;
	padding-bottom: 3em;
}

#Skills {
	border-width: 10px;
	border-color: rgb(31, 133, 228);
}

#Home {
	background-image: url('https://images.unsplash.com/photo-1456947700819-d91abdf38117?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=58742f4101cc22b4827a853af65e6972&auto=format&fit=crop&w=751&q=80s');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	padding-left: 35%;
	padding-top: 20%;
}

h1 {
	font-family: cooper black, Monospace;
	color: Black;
}

#imageAndName {
	color: rgb(3, 3, 3);
	font-family: 'Aclonica';
	font-size: 350%;
}

#ownImage {
	height: 200px;
	padding-left: 10%;
}

ul {
	font-size: 20px;
}

/* <div class="row">
<a href="/game-of-life/">
	<div class="col-md-4">The Game Of Life</div>
	<div class="col-md-6">
		<img id="projectImage" src="the-game-of-life.png" alt="the game of life">
	</div>
</a>
</div>
<div class="row">
<a href="">
	<div class="col-md-4">The recipe box</div>
	<div class="col-md-6">
		<img id="projectImage" src="recipe-box.png" alt="the recipe box">
	</div>
</a>
</div>
<div class="row">
<a href="">
	<div class="col-md-4">Markdown preview</div>
	<div class="col-md-6">
		<img id="projectImage" src="markdown-preview.png" alt="the recipe box">
	</div>
</a>
</div> */